<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="livox_Mid70">
  
  <xacro:property name="M_PI" value="3.1415926535897931" />
  <xacro:macro name="Livox_Mid70" params="*origin visualize:=False resolution:=1 update_rate:=10 parent:=base_link name:=livox ros_topic:=/scan samples:=24000 laser_min_range:=0.1 laser_max_range:=260.0 noise:=0.008 horizontal_fov:=70.4 vertical_fov:=70.4 downsample:=1 noise_mean:=0.0 noise_stddev:=0.01">

    <joint name="${name}_livox_base_mount_joint" type="fixed">
      <xacro:insert_block name="origin" /> 
      <parent link="${parent}"/>
      <child link="${name}_livox_base_link"/>
    </joint>

    <link name="${name}_livox_base_link">
      <inertial>
        <mass value="0.83"/>
        <origin xyz="0 0 0.03585"/>
        <inertia ixx="${(0.83 * (3.0*0.0516*0.0516 + 0.0717*0.0717)) / 12.0}" ixy="0" ixz="0"
          iyy="${(0.83 * (3.0*0.0516*0.0516 + 0.0717*0.0717)) / 12.0}" iyz="0"
          izz="${0.5 * 0.83 * (0.0516*0.0516)}"/>
      </inertial>
      <visual> 
        <geometry>
          <box size="0.1 0.1 0.1"/>
        </geometry>
      </visual>
      <collision>
          <origin rpy="0 0 0" xyz="0 0 0.03585"/>
          <geometry>
            <box size="0.1 0.1 0.1"/>
          </geometry>
      </collision>
    </link>

    <joint name="${name}_livox_base_scan_joint" type="fixed">
      <origin xyz="0 0 0.0377" rpy="0 0 0" />
      <parent link="${name}_livox_base_link"/>
      <child link="${name}_livox_link"/>
    </joint>

    <link name="${name}_livox_link">
      <inertial>
        <mass value="0.01"/>
        <origin xyz="0 0 0"/>
        <inertia ixx="1e-7" ixy="0" ixz="0" iyy="1e-7" iyz="0" izz="1e-7"/>
      </inertial>
      <visual>
        <origin xyz="0 0 -0.0377"/>
        <geometry>
          <box size="0.1 0.1 0.1"/>
        </geometry>
      </visual>
    </link>    

    <gazebo reference="${name}_livox_link">
      <sensor type="ray" name="${name}_livox_link">
        <pose>0 0 0 0 0 0</pose>
        <visualize>true</visualize>
        <update_rate>${update_rate}</update_rate>
        <!-- This ray plgin is only for visualization. -->
        <plugin name="gazebo_ros_laser_controller" filename="liblivox_laser_simulation.so">
          <ray>
            <scan>
              <horizontal>
                <samples>100</samples>
                <resolution>1</resolution>
                <min_angle>${-horizontal_fov/360*M_PI}</min_angle>
                <max_angle>${horizontal_fov/360*M_PI}</max_angle>
              </horizontal>
              <vertical>
              <samples>50</samples>
              <resolution>1</resolution>
              <min_angle>${-vertical_fov/360*M_PI}</min_angle>
              <max_angle>${vertical_fov/360*M_PI}</max_angle>
              </vertical>
            </scan>
            <range>
              <min>${laser_min_range}</min>
              <max>${laser_max_range}</max>
              <resolution>${resolution}</resolution>
            </range>
            <noise>
              <type>gaussian</type>
              <mean>${noise_mean}</mean>
              <stddev>${noise_stddev}</stddev>
            </noise>
          </ray>
          <!--visualize>${visualize}</visualize-->
          <samples>${samples}</samples>
          <downsample>${downsample}</downsample>
          <csv_file_name>package://livox_laser_simulation/scan_mode/avia.csv</csv_file_name>
          <ros_topic>${ros_topic}</ros_topic>
        </plugin>
      </sensor>
    </gazebo>

  </xacro:macro>
  
</robot>